button {
    border: none;
    background-color: transparent;
}

main {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex-shrink: 0;
}

section {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: start;
    box-shadow: 5px 5px 10px #ccc;
    padding: 0 10px;
}

section div {
    flex-grow: 1;
    margin: auto;
}

section h2 {
    text-align: center;
}

section ul {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    box-shadow: inset 0px 0px 5px #ccc;
}

li {
    display: flex;
    margin: 5px;
}

ul.status-btns li>button {
    border-radius: 9999px;
    background-color: #ccc;
    color: black;
}

#archive {
    color: #333;
}

ul.status-btns .archive>button {
    color: #333;
    background-color: yellow;
    color: orange;
}


#progress {
    font-weight: bold;
}

ul.status-btns .progress>button {
    font-weight: bold;
    background-color: green;
    color: greenyellow;
}

#done {
    color: #ccc;
}

ul.status-btns .done>button {
    color: #ccc;
    background-color: #333;
    color: #ccc;
}